<a href="https://colab.research.google.com/github/aman-makode-11/MLPractice/blob/main/Practical2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
input_file_path = '/content/sample_data/california_housing_test.csv'
df = pd.read_csv(input_file_path)

print("Original Data:")
print(df.head())
print("\n")

Original Data:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0
4       850.0       237.0         2.9375             81700.0

In [2]:
print("Missing Values Before Cleaning:")
print(df.isnull().sum())
print("\n")

Missing Values Before Cleaning:
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [4]:
# Check for missing values in 'median_income' and fill with mean if any
if df['median_income'].isnull().any():
    mean_value = df['median_income'].mean()
    print(f"Filling missing values in 'median_income' with the mean value: {mean_value}")
    df['median_income'] = df['median_income'].fillna(mean_value)
else:
    print("No missing values in 'median_income'.")

# Calculate 'Price Tax' based on 'median_income'
tax_rate = 0.1  # Assuming a tax rate value, update as needed
df['Price Tax'] = df['median_income'] * tax_rate

print("Added new column 'Price Tax' based on 'median_income':")
print(df[['median_income', 'Price Tax']].head())
print("\n")

No missing values in 'median_income'.
Added new column 'Price Tax' based on 'median_income':
   median_income  Price Tax
0         6.6085    0.66085
1         3.5990    0.35990
2         5.7934    0.57934
3         6.1359    0.61359
4         2.9375    0.29375

In [5]:
# Checking for any missing values
print("Missing Values After Cleaning:")
print(df.isnull().sum())
print("\n")

Missing Values After Cleaning:
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
Price Tax             0
dtype: int64

In [6]:
output_file_path = '/content/sample_data/updated_california_housing_test.csv'
df.to_csv(output_file_path, index=False)
print(f"Updated data saved to {output_file_path}")

Updated data saved to /content/sample_data/updated_california_housing_test.csv

In [7]:
# Print the first few rows of the cleaned DataFrame
print("\nCleaned Data (First 5 Rows):")
print(df.head())

Cleaned Data (First 5 Rows):
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0
4    -119.67     36.33                19.0       1241.0           244.0

   population  households  median_income  median_house_value  Price Tax
0      1537.0       606.0         6.6085            344700.0    0.66085
1       809.0       277.0         3.5990            176500.0    0.35990
2      1484.0       495.0         5.7934            270500.0    0.57934
3        49.0        11.0         6.1359            330000.0    0.61359
4       850.0       237.0         2.9375             81700.0    0.29375